body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0 rem;
    overflow: hidden;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

